{%  extends '_layout.html.twig' %}

{% block pageTitle%}Show one Post{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>

<div class="date">{{  post.created_at }}</div>
<div class="body">
    {{ post.body }}
</div>
{% endblock %}
